.skin-toxic {
    &__block {
        &-text {
            max-width: 795px;
            p {
                margin-bottom: rem(20);
            }
        }
        &-recomendation {
            padding: 19px 22px 19px;
            margin-bottom: rem(30);
            &-title {
                margin-bottom: rem(25);
            }
            .recomendation {
                &__block {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    @include media(768) {
                        flex-direction: column;
                    }
                }
                &__box {
                    width: 50%;
                    padding-right: rem(20);
                    margin-bottom: rem(20);
                    @include media(768) { 
                        width: 100%;
                    }
                    &-content {
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: rem(15);
                        }
                        p {
                            br {
                                @include media(768) { 
                                    display: none;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
    &__counter-indications {
        box-shadow: none;
        margin-bottom: rem(10);
        .counter-indications__title {
            color: #142768;
        }
    }
}