.section__title {
  font-weight: 500;
  font-size: rem(30);
  line-height: prc(36, 30);
  color: #142768;
  margin-bottom: rem(30);
  @include media(600) {
    font-size: rem(22);
    line-height: prc(30, 22);
  }
}

.content__page {
  padding-top: rem(82);
  @include media(990) {
    padding-top: rem(100);
  }
  img {
    max-width: 100%;
  }
  .section__image {
    width: 100%;
    margin-bottom: rem(14);
  }
  p {
    font-weight: 400;
    font-size: rem(16);
    line-height: prc(20, 16);
    color: #4b5061;
    strong {
      font-weight: 700;
      color: #4b5061;
    }
    span.link {
      font-weight: 700;
      text-decoration: underline;
      cursor: pointer;
      color: #4b5061;
    }
  }
}
.content__about {
  .stages {
    margin-top: rem(53);
    ul {
      list-style: none;
      padding: 0;
      margin-bottom: rem(35);
      li {
        font-weight: 400;
        font-size: rem(16);
        line-height: prc(20, 16);
        color: #4b5061;
        margin-bottom: rem(20);
        span {
          color: #4b5061;
          strong {
            color: #4b5061;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  h2.about__box-title {
    font-weight: 500;
    font-size: rem(20);
    line-height: prc(26, 20);
    color: #142768;
    margin-bottom: rem(14);
    sup {
      color: #142768;
    }
  }
}

.image {
  position: relative;
  margin-bottom: rem(25);
  img {
    width: 100%;
    height: auto;
  }
  .image-full {
    display: none;
    transition: all 0.5s ease-in-out;
    transform: scale(0);
    &.active {
      display: block;
      transition: all 0.5s ease-in-out;
      transform: scale(1);
    }
  }
  .btn-full {
    position: absolute;
    cursor: pointer;
    bottom: rem(10);
    right: rem(12);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(41);
    img {
      position: relative;
    }
    span {
      font-weight: 400;
      font-size: rem(8);
      line-height: prc(16, 8);
      color: #e69d4a;
    }
  }
}
.more {
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  &.show {
    max-height: max-content;
    opacity: 1;
    visibility: visible;
    margin-bottom: rem(25);
  }
}
.btn-show-more {
  @include media(990) {
    padding: rem(15) rem(30);
    width: 100%;
  }
  span {
    font-weight: 400;
    font-size: rem(16);
    line-height: prc(20, 16);
    color: #5dbff7;
    @include media(990) {
      text-align: center;
    }
  }
  .text-active {
    display: none;
  }
  padding: rem(15) rem(58);
  border: rem(1) solid #5dbff7;
  border-radius: rem(50);
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: rem(0) auto rem(30);
  text-align: center;
  cursor: pointer;

  &.active {
    border: none;
    background: #5dbff7;
    .text-passive {
      display: none;
    }
    .text-active {
      display: block;
      color: #ffffff;
    }
  }
}



.image-full.active {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: rem(20);
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 100vh;
  @include media(990) {
    & .content .btn-close {
      top: rem(-50);
    }
  }
  .modal-wrapper {
    z-index: 11;
    background: rgba(40, 98, 182, 0.66);
    mix-blend-mode: normal;
    backdrop-filter: blur(rem(20));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  .content {
    max-width: rem(1270);
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    padding: rem(15);
    height: max-content;
    .btn-close {
      position: absolute;
      top: rem(-80);
      width: rem(41);
      right: rem(21);
      text-align: center;
      cursor: pointer;
      span {
        font-weight: 400;
        font-size: rem(8);
        line-height: prc(16, 8);
        color: #ffffff;
      }
    }
    img {
      width: 100%;
    }
  }
}
