.side-effects {
  // .side-effects__block-title
  &__block-title {
    margin-bottom: rem(30);
  }
  // .side-effects__box
  &__box {
    margin-bottom: 12px;
  }
  // .side-effects__accordion-title
  &__accordion-title {
    margin-top: rem(40);
  }
  // .side-effects__accordion
  &__accordion {
    margin-top: rem(40);
    .accordion__title {
      margin-right: auto;
      margin-left: rem(32);
    }
    .accordion__content-body {
      p {
        @include notLast {
          margin-bottom: rem(21);
        }
      }
      a {
        text-decoration: underline;
        color: #2862B6;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}