.content__artralgya {
    .artralgya__block-recomendation {
        padding: 19px 23px;
        margin-bottom: rem(18);
        &-title {
            margin-bottom: rem(25);
        }
        .recomendation {
            &__block {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-wrap: wrap;     
            }
            &__box {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: start;
                margin-bottom: 18px;
                &-content {
                    display: flex;
                    align-items: center;
                    margin-left: rem(98);
                    @include media(768) {
                        margin-left: rem(50);
                    }
                    @include media(600) {
                        margin-left: rem(0);
                    }
                    img {
                        max-width: 68px;
                        margin-right: 11px;
                    }
                    p {
                        br {
                            @include media(550) {
                                display: none;
                            }
                        }

                    }
                }
                &:nth-child(2n) {
                    .recomendation__box-content {
                        margin-left: 0;
                    }
                }
                @include media(550) {
                    width: 100%;
                }
            }
        }
    }
}