.page-start {
  position: relative;
  display: flex;
  flex: 0 1 100%;
  @include media(768) {
    flex-direction: column;
    padding: 0 rem(15);
    @include adaptiveClamp('padding-bottom', 110, 40, 390, 320, 1);
  }
  // .page-start__header
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(75);
    background-color: transparent;
    padding: 0 rem(64);
    transition: $standartTrans;
    z-index: 20;
    
    position: fixed;
    display: flex;
    align-items: center;
    @include media(768) {
      padding: 0 rem(36);
      background-color: #142768;
    }
  }
  // .page-start__sidebar
  &__sidebar {
    flex: 0 0 rem(387);
    padding-top: rem(26 + 75);
    padding-left: rem(64);
    padding-right: rem(64);
    padding-bottom: rem(36);
    @include media(768) {
      margin-top: rem(87);
      @include adaptiveClamp('padding-top', 101, 50, 768, 425, 1);
      @include adaptiveClamp('padding-left', 64, 30, 768, 425, 1);
      @include adaptiveClamp('padding-right', 64, 30, 768, 425, 1);
      border-radius: rem(17);
      backdrop-filter: blur(rem(5));
      background-color: rgba(#fff, 80%);
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include media(375) {
      padding: rem(40) rem(16);
    }
  }
  // .page-start__logo
  &__logo {
  }
  // .page-start__title
  &__title {
    font-weight: 800;
    font-size: rem(28);
    line-height: prc(36, 28);
    text-transform: uppercase;
    color: #142768;
    margin-bottom: rem(12);
    @include media(425) {
      font-size: rem(21);
      line-height: prc(31, 21);
      margin-bottom: rem(4);
    }
    @include media(375) {
      text-align: center;
    }
  }
  // .page-start__description
  &__description {
    font-size: rem(16);
    line-height: prc(26, 16);
    color: #142768;
    @include media(375) {
      text-align: center;
    }
  }
  // .page-start__pin
  &__pin {
    margin-top: rem(24);
    @include media(425) {
      margin-top: rem(27);
    }
  }
  // .page-start__img
  &__img {
    position: relative;
    height: 100%;
    flex: 1 1 100%;
    overflow: hidden;
    @include media(768) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    & img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
