.pin {
  padding: rem(4);
  overflow: hidden;
  @include media(425) {
    padding: rem(4) 0 0;
  }
  // .pin__form
  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    &._error {
      .pin__input {
        color: #f56f6f;
        border-color: #f56f6f;
      }
      .pin__error {
        opacity: 1;
        transform: translateX(0);
        &::after {
          animation: lineAnim 2000ms forwards linear;
        }
      }
    }
  }
  // .pin__inputs-group
  &__inputs-group {
    display: flex;
  }
  // .pin__input
  &__input {
    width: rem(30);
    height: rem(27);
    border: rem(0.5) solid #2862b6;
    border-radius: rem(3);
    text-align: center;
    padding: rem(2) rem(5);
    transition: all 200ms ease-in-out;

    font-weight: 400;
    font-size: rem(16);
    line-height: prc(27, 16);
    color: #142768;

    @include notLast {
      margin-right: rem(7);
    }
    @include media(768) {
      background-color: transparent;
    }
    &:focus {
      box-shadow: 0 0 rem(1) rem(1) #142768;
    }
    // .pin__input_space
    &.pin__input_space {
      margin-right: rem(30);
      @include media(375) {
        margin-right: rem(18);
      }
    }
  }
  // .pin__error
  &__error {
    position: absolute;
    top: rem(27 + 14);
    text-align: center;
    font-size: rem(11);
    line-height: 136%;
    text-align: center;
    color: #f56f6f;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 200ms ease-in-out;
    &::after {
      content: '';
      position: absolute;
      top: rem(-5);
      left: 0;
      width: 100%;
      height: rem(2);
      border-radius: rem(6);
      background: #f56f6f;
    }
  }
  // .pin__button
  &__button {
    margin-top: rem(76);
    padding: rem(15) rem(45);
    color: #fff;
    background: #5dbff7;
    border-radius: rem(50);
    transition: all 320ms ease-in-out;
    &:hover {
      background: darken(#5dbff7, 5%);
    }
    &:active {
      background: darken(#5dbff7, 15%);
      box-shadow: 0 rem(2) rem(15) rgba(#000, 10%);
    }
    &:disabled {
      cursor: no-drop;
      background: rgba(152, 181, 198, 0.6);
    }
  }
}

@keyframes lineAnim {
  0% { width: 100% }
  100% { width: 0 }
}