.footer {
  flex: 1 0 95px;
  padding: 20px 0;
  background: #f7fcfe;
  align-content: center;
  // .footer__container
  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-left: 65px;
    padding-right: 65px;
    @media (max-width: 510.98px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  // .footer__copyright
  &__copyright {
    display: flex;
    flex-direction: column;
    & span {
      font-weight: 300;
      font-size: 12px;
      letter-spacing: 0.005em;
      color: #2862b6;
      @include notLast {
        margin-bottom: 5px;
      }
    }
  }
  // .footer__code
  &__code {
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 0.005em;
    color: #5dbff7;
  }
}
