.sidebar {
  position: relative;
  background: #142768;
  padding-top: rem(24);
  padding-bottom: rem(24);
  width: rem(387);
  transition: $standartTrans;
  @include media(1200) {
    width: rem(295);
  }
  @include media(1024) {
    position: fixed;
    width: 100%;
    top: -100%;
    left: 0;
    z-index: 100;
    opacity: 0;
    &._sidebar-show { 
      top: 0;
      opacity: 1;
      box-shadow: 0 rem(4) rem(10) rgba(#000, 25%);
    }
  }
  // .sidebar__container
  &__container {
    padding-left: rem(64);
    padding-right: rem(40);
    @include media(1200) {
      padding: 0 rem(15);
    }
    @include media(1024) {
      max-width: 100%;
    }
  }
  // .sidebar__button
  &__button {
    position: absolute;
    right: 0;
    top: 160px;
    width: 20px;
    height: 20px;
    background: transparent;
    @include media(1024) {
      display: none;
    }
    &:hover {
      .sidebar__button_hide,
      .sidebar__button_show {
        & path {
          fill: $orangeColor;
        }
      }
    }
    &_hide,
    &_show {
      transition: $standartTrans;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      & path {
        transition: $standartTrans;
      }
    }
    &_show {
      opacity: 0;
      visibility: hidden;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -8px;
      width: 8px;
      height: 30px;
      background: url("./../images/icons/arrow.png");
    }
  }
  // .sidebar__menu
  &__menu {
    margin-top: rem(100);
    @include media(1024) {
      margin-top: rem(70);
    }
  }
}
.menu {
  width: 100%;
  transition: $standartTrans;
  // .menu__list
  &__list {
    width: 100%;
  }
  // .menu__item
  &__item {
    @include notLast {
      margin-bottom: 15px;
    }
  }
  // .menu__link
  &__link {
    display: block;
    color: #fff;
    font-weight: 300;
    line-height: prc(26, 16);
    transition: $standartTrans;
    // ._active
    &._active {
      font-weight: 800;
    }
    &:hover {
      color: $orangeColor;
    }
    // ._link
    ._link { }
    // .menu__link_main
    &_main {
      text-transform: uppercase;
      &._active {
        font-weight: 600;
        font-size: rem(18);
      }
    }
    // .menu__link_source
    &_source {
      margin-top: rem(24 - 15);
      padding-top: rem(22);
      border-top: 0.5px solid #fff;
    }
  }
}

.sub-menu {
  // .sub-menu__list
  &__list {
    display: none;
  }
  // .sub-menu__item
  &__item {
  }
  // .sub-menu__link
  &__link {
    color: #fff;
  }
  // .sub-menu__icon
  &__icon {
  }
  // .sub-menu__text
  &__text {
  }
}
