.content__braf {
  .braf__text {
    margin-bottom: rem(24);
    .braf__text-box {
      background: #ffffff;
      display: flex;
      align-items: center;
      padding: 13px 23px 19px;
      @include notLast {
        margin-bottom: rem(12);
      }
      box-shadow: 0 rem(4) rem(15) rgba(40,98,182,15%);
      img {
        width: rem(68);
        margin-right: rem(38);
        @include media(650) {
          width: 50px;
          margin-right: rem(20);
        }
      }
    }
  }
  .braf__list {
    padding-left: rem(36);
    margin-bottom: rem(24);
    @include media(650) {
      padding-left: rem(10);
    }
    li {
      padding-left: 69px;
      font-size: 16px;
      line-height: 20px;
      color: #4b5061;
      position: relative;
      padding-left: rem(33);

      &::before {
        content: "";
        position: absolute;
        width: 11px;
        height: 11px;
        border: 2px solid #5dbff7;
        border-radius: 50%;
        left: 0;
        top: 7px;
      }
      strong {
        font-weight: 700;
        color: #4b5061;
      }
      margin-bottom: rem(20);
      &:last-child {
        margin-bottom: 0;
      }
      span.link {
        font-weight: 700;
        color: #4b5061;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  .braf__mutation {
    background: #eef9ff;
    padding: 48px 65px 48px 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(19);
    @include media(768) {
      flex-direction: column;
      text-align: center;
      padding: 30px 40px;
    }
    img {
      max-width: 319px;
      margin-right: rem(30);
      @include media(768) {
        margin-bottom: rem(20);
        max-width: 100%;
        margin-right: 0;
      }
    }
    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      text-transform: uppercase;
      color: #142768;
      span {
        color: #e69d4a;
      }
    }
  }
  .braf__conclusion {
    max-width: 795px;
    margin-bottom: rem(40);
  }
}

//стили навигации
.navigation {
  display: flex;
  justify-content: space-around;
  margin-bottom: rem(40);
  @include media(650) {
    flex-direction: column;
    justify-content: start;
  }
  .next-page,
  .prev-page {
    display: flex;
    flex-direction: column;
    width: max-content;

    @include media(650) {
      position: relative;
      text-align: right;
      padding-right: rem(45);
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: rem(-5);
        bottom: 0;
        height: 100%;
        width: rem(30);
        background: url(../images/icons/arrow-next-page-mobile.svg);
        background-repeat: no-repeat;
        background-position: right center;
      }
    }
    span {
      font-weight: 400;
      font-size: rem(16);
      line-height: prc(20, 16);
      color: #2862b6;

      strong {
        display: block;
        color: #2862b6;
      }
      margin-bottom: rem(10);
    }
    img {
      max-width: rem(95);
      @include media(650) {
        display: none;
      }
    }
  }
  .next-page {
    // margin-left: auto;
    @include media(650) {
      margin-left: auto;
    }
  }
  .prev-page {
    text-align: right;
    margin-bottom: 13px;
    @include media(650) {
      margin-right: auto;
      padding-right: rem(0);
      padding-left: rem(45);
    }
    img {
      transform: rotate(180deg);
    }
    &::after {
      @include media(650) {
        transform: rotate(180deg);
        right: auto;
        left: 0;
        top: rem(-5);
      }
    }
  }
}
