.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  &_fullscreen {
    height: 100vh;
    overflow-y: auto;
  }
  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }
}
[class*="__container"] {
  max-width: rem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 rem($mainOffset);
}
.page {
  flex: 1 1 auto;

  &__start {
    padding-top: $headerHeight;
  }
}
.container {
  flex: 1 1 auto;
  display: flex;
}
.content {
  position: relative;
  flex: 1 0;
  transition: $standartTrans;
  // .content__top
  &__top {
  }
  // .content__about
  &__about {
  }
  // .content__useful
  &__useful {
  }
  // .content__drug-effect
  &__drug-effect {
  }
  // .content__way-mark
  &__way-mark {
  }
  // .content__controls
  &__controls {
  }
}
.title-h1 {
}
.title-h2 {
  font-weight: 500;
  font-size: rem(30);
  line-height: prc(36, 30);
  color: #142768;
}
.title-h3 {
  font-weight: 500;
  @include adaptiveClamp("font-size", 20, 18);
  line-height: prc(26, 20);
  color: #142768;
}
.br-hide {
}
._show-small-popup {
  font-weight: 800;
  font-size: rem(16);
  line-height: prc(20, 16);
  text-decoration: underline;
  color: #4b5061;
  cursor: pointer;
  &._white-color {
    color: #fff;
  }
}
.page-banner-img {
  position: relative;
  overflow: hidden;
  padding-bottom: prc(174, 841);
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.article-p {
  line-height: prc(20, 16);
  color: #4b5061;
  .italic {
    font-style: italic;
    color: #4b5061;
  }
  strong {
    font-weight: 800;
    color: #4b5061;
  }
}
.numeric-box {
  display: flex;
  align-items: center;
  gap: rem(20);
  @include notLast {
    margin-bottom: rem(12);
  }
  // .numeric-box__number-label
  &__number-label {
    flex: 0 0 rem(48);
    height: rem(48);
    display: flex;
    align-items: center;
    justify-content: center;
    border: rem(3) solid #5dbff7;
    border-radius: 50%;
    background: #5dbff7;
  }
  // .numeric-box__number
  &__number {
    font-weight: 700;
    font-size: rem(24);
    line-height: prc(20, 24);
    color: #fff;
  }
  // .numeric-box__article
  &__article {
    max-width: rem(700);
    color: #4B5061;
    line-height: prc(20, 16);
  }
}

body {
  &._lock {
    overflow: hidden;
  }
  &._sidebar-show {
    .header__container {
      @include media(1200) {
        padding-left: rem(45 + 15);
      }
    }
    .sidebar {
      width: rem(45);
      &__button {
        &_hide {
          opacity: 0;
          visibility: hidden;
        }
        &_show {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .header__logo {
      svg {
        path {
          fill: #fff;
        }
      }
    }
    .menu {
      transform: translateX(-200px);
      opacity: 0;
      visibility: hidden;
    }
  }
}
