.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  &_fullscreen {
    height: 100vh;
    overflow-y: auto;
  }
  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }
}
[class*="__container"] {
  max-width: rem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 rem($mainOffset);
}
.page {
  flex: 1 1 auto;

  &__start {
    padding-top: $headerHeight;
  }
}
.container {
  flex: 1 1 auto;
  display: flex;
}
.content {
  flex: 1 0;
  transition: $standartTrans;
  // .content__top
  &__top {}
  // .content__about
  &__about {}
  // .content__useful
  &__useful {}
}
.title-h1 {
}
.title-h2 {
  font-weight: 500;
  font-size: rem(30);
  line-height: prc(36, 30);
  color: #142768;
}
.br-hide {
}

body {
  &._lock {
    overflow: hidden;
  }
  &._sidebar-show {
    .header__container {
      @include media(1200) {
        padding-left: rem(45 + 15);
      }
    }
    .sidebar {
      width: rem(45);
      &__button {
        &_hide {
          opacity: 0;
          visibility: hidden;
        }
        &_show {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .header__logo {
      svg {
        path {
          fill: #fff;
        }
      }
    }
    .menu {
      transform: translateX(-200px);
      opacity: 0;
      visibility: hidden;
    }
  }
}
