.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  &_fullscreen {
    height: 100vh;
    overflow-y: auto;
  }
  [data-observ] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(2);
    background: transparent;
    pointer-events: none;
  }
}
[class*="__container"] {
  max-width: rem($maxWidthContainer);
  margin: 0 auto;
  padding: 0 rem($mainOffset);
}
.page {
  flex: 1 1 auto;

  &__start {
    padding-top: $headerHeight;
  }
}
.container {
  flex: 1 1 auto;
  display: flex;
}
.content {
  flex: 1 0;
  transition: $standartTrans;
  // .content__top
  &__top {
  }
  // .content__about
  &__about {
  }
  // .content__useful
  &__useful {
  }
  // .content__drug-effect
  &__drug-effect {
  }
  // .content__way-mark
  &__way-mark {
  }
  // .content__controls
  &__controls {
  }
  // .content__why-about
  &__why-about {
  }
  // .content__drug-storage
  &__drug-storage {}
  // .content__policy
  &__policy {}
}
.title-h1 {
}
.title-h2 {
  font-weight: 500;
  font-size: rem(30);
  line-height: prc(36, 30);
  color: #142768;
}
.title-h3 {
  font-weight: 500;
  @include adaptiveClamp("font-size", 20, 18);
  line-height: prc(26, 20);
  color: #142768;
}
.br-hide {
}
._show-small-popup {
  font-weight: 800;
  font-size: rem(16);
  line-height: prc(20, 16);
  text-decoration: underline;
  color: #4b5061;
  cursor: pointer;
  &._white-color {
    color: #fff;
  }
}
.page-banner-img {
  position: relative;
  overflow: hidden;
  padding-bottom: prc(174, 841);
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.article-p {
  line-height: prc(20, 16);
  color: #4b5061;
  .italic {
    font-style: italic;
    color: #4b5061;
  }
  strong {
    font-weight: 800;
    color: #4b5061;
  }
}
.numeric-box {
  display: flex;
  align-items: center;
  gap: rem(20);
  @include notLast {
    margin-bottom: rem(12);
  }
  @include media(425) {
    align-items: flex-start;
    gap: rem(12);
  }
  // .numeric-box__number-label
  &__number-label {
    flex: 0 0 rem(48);
    height: rem(48);
    display: flex;
    align-items: center;
    justify-content: center;
    border: rem(3) solid #5dbff7;
    border-radius: 50%;
    background: #5dbff7;
  }
  // .numeric-box__number
  &__number {
    font-weight: 700;
    font-size: rem(24);
    line-height: prc(20, 24);
    color: #fff;
  }
  // .numeric-box__article
  &__article {
    max-width: rem(700);
    color: #4b5061;
    line-height: prc(20, 16);
  }
}
.banner-text {
  padding: rem(48) rem(80);
  background: #eef9ff;
  @include media(768) {
    padding: rem(24);
  }
  @include media(425) {
    padding: rem(16) rem(12);
  }
  // .banner-text__article
  &__article {
    text-transform: uppercase;
    font-weight: 500;
    font-size: rem(20);
    line-height: prc(26, 20);
    color: #142768;
    @include media(425) {
      font-size: rem(16);
    }
    // ._color
    ._color {
      color: #5dbff7;
    }
  }
}
.counter-indications {
  background-color: #fff;
  box-shadow: 0 0 rem(14) rgba(40, 98, 182, 15%);
  // .counter-indications__item
  &__item {
    padding: rem(16) rem(24);
    display: flex;
    flex-direction: column;
    gap: rem(8);
    @include notLast {
      border-bottom: rem(1) solid #2862b6;
    }
    @include media(425) {
      padding: rem(12);
    }
  }
  // .counter-indications__top
  &__top {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: rem(20);
    @include media(425) {
      gap: rem(8);
    }
  }
  // .counter-indications__icon
  &__icon {
    flex: 0 0 rem(60);
    height: rem(60);
    border-radius: 50%;
    background-color: #5dbff7;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: rem(36);
      height: rem(36);
    }
  }
  // .counter-indications__title
  &__title {
    font-weight: 500;
    font-size: rem(20);
    line-height: prc(26, 20);
    color: #2862b6;
    @include media(425) {
      font-size: rem(18);
    }
  }
  // .counter-indications__list
  &__list {
    padding-left: rem(20 + 60);
    padding-right: rem(24);
    @include media(425) {
      padding-left: rem(12);
      padding-right: rem(12);
    }
  }
}
.guidance-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
  gap: rem(20);
  // .guidance-list__item
  &__item {
    display: flex;
    align-items: center;
    gap: rem(20);
    @include media(425) {
      gap: rem(8);
    }
  }
  // .guidance-list__icon
  &__icon {
    flex: 0 0 rem(68);
    height: rem(68);
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  // .guidance-list__text
  &__text {
    font-size: rem(16);
    line-height: prc(20, 16);
    color: #4b5061;
    @include media(425) {
      font-size: rem(15);
    }
  }
}
.remark {
  font-size: rem(12);
  line-height: prc(20, 12);
  color: #cacaca;
}
.download-template {
  display: grid;
  grid-template-columns: 1fr rem(200);
  grid-template-rows: auto auto rem(50);
  gap: rem(18);
  padding: rem(30) rem(24);
  background-color: #c9ebff;
  @include media(650) {
    display: flex;
    flex-direction: column;
  }
  @include media(425) {
    padding: rem(12);
  }
  // .download-template__title
  &__title {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  // .download-template__description
  &__description {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
  }
  // .download-template__download-link
  &__download-link {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: #2862b6;
    border-radius: rem(50);
    width: rem(230);
    font-size: rem(16);
    color: #ffffff;
    padding: rem(16) rem(8);
    text-align: center;
    transition: $standartTrans;
    &:hover {
      background-color: darken(#2862b6, 10%);
    }
    &:active {
      background-color: darken(#2862b6, 15%);
    }
  }
  // .download-template__image
  &__image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 100%;
    max-width: rem(300);
    img {
      width: 100%;
      height: 100%;
    }
  }
}
body {
  &._lock {
    overflow: hidden;
  }
  &._sidebar-close {
    .header__container {
      @include media(1200) {
        padding-left: rem(45 + 15);
      }
    }
    .sidebar {
      width: rem(45);
      &__button {
        &_hide {
          opacity: 0;
          visibility: hidden;
        }
        &_show {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .header__logo {
      svg {
        path {
          fill: #fff;
        }
      }
    }
    .menu {
      transform: translateX(-200px);
      opacity: 0;
      visibility: hidden;
    }
  }
}
