.braf-block {
  background: #eef9ff;
  display: grid;
  grid-template-columns: 1fr rem(250);
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;
  padding: rem(24);
  gap: rem(24);
  @include media(768) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  @include media(425) {
    padding: rem(12) rem(8);
  }
  // .braf-block__articles
  &__articles {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    gap: rem(16);
    
    p {
      color: #4B5061;
      line-height: prc(20, 16);
    }
  }
  // .braf-block__items
  &__items {
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: rem(20);
    @include media(510) {
      grid-template-columns: 1fr;
    }
  }
  // .braf-block__item
  &__item {
    display: flex;
    align-items: flex-start;
    gap: rem(20);
    @include media(510) {
      align-items: center;
    }
  }
  // .braf-block__item-icon
  &__item-icon {
  }
  // .braf-block__item-body
  &__item-body {
    line-height: prc(20, 16);
    color: #4B5061;
  }
  // .braf-block__image
  &__image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    @include media(768) {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}
