.drug-effect {
  padding-top: rem(82);
  padding-bottom: rem(34);
  // .drug-effect__container
  &__container {
  }
  // .drug-effect__title
  &__title {
    margin-bottom: rem(30);
  }
  // .drug-effect__banner-image
  &__banner-image {
    margin-bottom: rem(10);
  }
  // .drug-effect__subtitle
  &__subtitle {
    margin-bottom: rem(10);
  }
  // .drug-effect__article
  &__article { }
  // .drug-effect__term
  &__term {
    margin-top: rem(10);
  }
  // .drug-effect__braf
  &__braf {
    margin-top: rem(16);
    margin-bottom: rem(16);
  }
  // .drug-effect__allows
  &__allows {
    margin-top: rem(24);
    margin-bottom: rem(24);
  }
  // .drug-effect__list
  &__list {
    margin-top: rem(24);
    padding: 0 rem(30);
  }
}
